<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^([a-z0-9\-]+)/?([a-z0-9\-]+)?/?([a-z0-9\-]+)?/?([a-z0-9\-]+)?/?$ index.php?API_VERSION=$1&ROUTE=$2&ACTION=$3&PARAM=$4 [NC,L]
</IfModule>